html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --draw-background: #b0b0b0;
    --draw-border: #686868;
    --menu-background1: #f0f0f0;

    --ui-border-color: #b0b0b0;
    --default-border: 1pt solid var(--ui-border-color);
}
  

body
{
    
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

html, body {
    height: 100%;
    margin: 0;
}

#top-bar
{
    height: 20pt;
    width: 100%;

    background-color: var(--menu-background1);
    border-bottom: var(--default-border);

    display: flex;
}

.top-bar-button
{
    height: 100%;
    max-width: fit-content;
    border-right: var(--default-border);
    padding-top: 2pt;
    padding-bottom: 2pt;
    padding-left: 10pt;
    padding-right: 10pt;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}
.top-bar-button:hover
{
    background-color: #00000022;
}

#complete
{
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}

#sidebar
{
    width: 8cm;
    background-color: var(--menu-background1);
    padding: 12pt;
}

#right_area
{
    flex: 100%;
    padding: 0pt;
    position: relative;
}

#draw_zone
{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

    background-color: var(--draw-background);

}

#poly-root
{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;  
    
    background-color: #000000;
}

#poly-draw-zone
{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

    background-color: #000000;
}

#poly-canvas-overlay
{
    color: white;
    font-size: medium;
    z-index: 1;

    position: absolute;
    top: 0;
    left: 0;
    
    padding: 5pt;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}

.sb-subsection
{
    border-style: solid;
    border-color: var(--ui-border-color);
    border-width: 1pt;
    padding: 8pt;
    margin-bottom: 10pt;

    min-height: 12pt;
}

.inputtable
{
    width: 100%;
    font-size: large;
}

.slider
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.swap_button
{
    width: 100%;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black, 1px 1px 2px black, 1px 1px 2px black;
    text-align: center;
    padding: 5px 0;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.swap-dot
{
    height: 16px;
    width: 16px;
    background-color: #ffffff;
    border: solid 2pt black;
    border-radius: 50%;
    display: inline-block;
}

.swap-greyed>.swap-dot
{
    background-color: #ffffff00;
    border: solid 2pt #00000000;

}

.fullscreen
{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}

#shadow
{
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-window
{
    border: var(--default-border);
    background-color: var(--menu-background1);
    width: fit-content;
    min-width: 2in;
    
    height: fit-content;
    min-height: 0.2in;
}

.popup-top-bar
{
    width: 100%;
    height: 23pt;
    border-bottom: var(--default-border);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.popup-top-bar h3
{
    margin: 0;
    margin-top: 2pt;
    margin-left: 4pt;
}

.popup-xout
{
    width: 10pt;
    border-left: var(--default-border);
    justify-content: space-between;

    padding-top: 2pt;
    padding-bottom: 2pt;
    padding-left: 5pt;
    padding-right: 5pt;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.popup-xout:hover
{
    background-color: #00000022;
    
}

.popup-body
{
    width: 100%;
    height: fit-content;
    padding: 10pt;
}

.settings-head
{
    margin-top: 12pt;
    font-weight: bold;
}

.settings-column-table > tr > td
{
    vertical-align: top;
    padding-right: 10pt;
}

.settings-table > tr:nth-child(1) > td > .settings-head
{
    margin-top: auto;
}

#reset-button
{
    margin-top: 12pt;
}

#clq-root
{
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;

    margin: 0;
    padding: 0;
}

#clq-root > div
{
    position: relative;
    flex: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#clq-root > div:nth-child(1)
{
    display: flex;
    flex-direction: column;
}

#clq-root > div:nth-child(1) > div
{
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    position: relative;
}

.clq-minify
{
    flex: 0% !important;
    height: 30pt;
    max-height: 30pt;
    min-height: 30pt;
}

#clq-root canvas
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    border: 1px solid var(--draw-border);
    flex: 100%;
    width: 100%;
}

.actionbox-title
{
    font-weight: bold;
}

.actionbox-tip
{
    font-style: italic;
    font-size: small;
}

#ee-error-zone
{
    color: red;
    font-style: italic;
    font-size: small;
    height: 25pt;
}

#open-error-zone
{
    color: red;
    font-style: italic;
    font-size: small;
}

.small-link
{
    font-size: small;
    color: blue;
    text-decoration-line: underline;
}

#shortcuts-table td:nth-child(1)
{
    font-weight: bold;
    padding-right: 10pt;
}

#notes
{
    position: absolute;
    font-size: small;
    bottom: 12pt;
}

.angle-override-table input
{
    width: 50pt;
}

.angle-override-table td
{
    width: 30pt;
}

.vec-spinner input
{
    width: 50pt;
}