:root
{
    --section-radius: 2pt;
    --area-margin: 3pt;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
  }

body
{
    font: 14pt "Open Sans", sans-serif;
}

img {
    border-radius: 2pt;
    margin: var(--area-margin);
}